@model IEnumerable<Waldorf.Domain.Party>

@{
    ViewBag.Title = "Splash Page for Colleague";
}

<h2>Splash Page for Colleague</h2>

<p>
    <strong>Intro/Explanation</strong><br />
    Welcome to Waldorf Pro, Version 1! We will match your resume with job-postings from schools that need you!
</p>

<p>
    @Html.ActionLink("Log in", "Login", "Account", routeValues: new { entryType = "c" }, htmlAttributes: new { id = "loginLink" })
    or 
    @Html.ActionLink("Register", "Register", "Account", routeValues: new { entryType = "c" }, htmlAttributes: new { id = "registerLink" })
</p>