@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Waldorf Pro</h1>
    <p class="lead">Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test.</p>
    <p><a href="https://en.wikipedia.org/wiki/Waldorf_education" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Test Test Test</h2>
        <p>Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test
            Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test
            Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Waldorf_education">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test Test Test</h2>
        <p>Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test
            Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test
            Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Waldorf_education">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test Test Test</h2>
        <p>Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test
            Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test
            Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Waldorf_education">Learn more &raquo;</a></p>
    </div>
</div>